spring:
  application:
    name: sy-batch-system
  datasource:
    url: jdbc:mysql://localhost:3306/batch?reWriteBatchedInserts=true
    username: root
    password: password
  sql:
    init:
      mode: always
  batch:
    jdbc:
      initialize-schema: always
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
    open-in-view: false
logging:
  level:
    sql: DEBUG